# --- Visual Studio ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vstoken
*.dbmdl
*.jfm

# --- Ficheiros de Build e Publicação ---
publish/
*.azurepubxml
*.pubxml

# --- Tooling ---
.pnpm-debug.log*
.eslintcache
node_modules/

# --- Sistema Operativo ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# --- Docker ---
.dockerignore